body {
	background-color: beige;
}

#sketch-board {
	background: white;
	width: 500px;
  	height: 500px; /* 1:1 Aspect Ratio */
	position: relative; 
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.row {
	border: 2px solid black;
	display: flex; 
	flex-direction: row;
	flex-grow: 1;
/*	border: thin solid red;*/
}

.pixel {
	border: 2px solid red;
	display: flex; 
	flex-grow: 1; 
/*	border: thin solid black;*/
}

.color {
	background-color: black;
}