body {
	background-color: beige;
	display: flex; 
	flex-direction: column;
	align-items: center;
}

#sketch-board {
	background: white;
	width: 768px;
  	height: 768px; /* 1:1 Aspect Ratio */
	position: relative; 
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.row {
	display: flex; 
	flex-direction: row;
	flex-grow: 1;
}

.pixel {
	display: flex; 
	flex-grow: 1; 
}

.color {
	background-color: black;
}